/**
 * Place your custom CSS styles here.
 **/
.hard_paywall {
	position: relative !important;
}

.noscroll {
	position: relative !important;
	overflow-y: auto !important;
	overflow-x: auto !important;
}